body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color:#333 ;
}
h1{
	color:red;
}
p{
	color:red;
}
.lateral{
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100vh;
	background-color: #111;
	padding-top: 20px;
	color: white;
	display: flex;
	flex-direction: column;
}
.lateral img {
	display:block;
	padding: 10px 15px;
	color: f1f1f1;
	width: 25px;
	height: 25px;

}
.lateral img:hover {
	background-color: #333;
}
.main{
	margin-left: 50px;
	padding: 20px;
	background-color: #333;
}

.perfil{
	margin-top: auto;
	margin-bottom: 20px;

}
.artista{
	padding: 30px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap :15px;
}
.artista h1{
	color: #FF3131;

}
.artistaimg{
	width: 80px;
	height: 80px;
}
.artistadesc p{
	color: gray;

}
.artistadesc div{
	border: solid gray;
	border-width: 2px;
	border-radius: 10px;
	width: 380px;
	gap: 10px;

	
}
.artistaN{

}
.desc{
	height: 100px;
}
.artistadesc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.logof{
	width: 20px;
	height: 20px;
}
.logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding-top: 0px;
}
.logo p{
	color: white;
}
.cyg{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	text-align: center;
	align-items: ;
	gap: 30px;
}
.cyg img{
	width: 150px;
	height: 150px;
}
.cyg h2{
	color: white;
}

