body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color:#333 ;
}
h1{
	color:red;
}
p{
	color:red;
}
.lateral{
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	background-color: #111;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	z-index:1000;
}
.lateral img {
	display:block;
	padding: 10px 15px;
	color: #f1f1f1;
	width: 25px;
	height: 25px;

}
.lateral img:hover {
	background-color: #333;
}
.main{
	margin-left: 50px;
	padding: 20px;
	background-color: #333;
	overflow-x: hidden;
}

.perfil{
	margin-top: auto;
	margin-bottom: 20px;

}
.artista{
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: flex-start;
}
.artista h1{
	color: #FF3131;
	margin-bottom: 5px;

}
.artistaimg{
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
}
.artistadesc p{
	color: gray;
}
.desc{
	height: 80px
}
.artistadesc div{
	border: solid gray;
	border-width: 2px;
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
	
}

.desc{
	height: 100px;
}
.artistadesc {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	max-width: 800px;
}
.logof{
	width: 30px;
	height: 30px;
}
.logo{
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}
.logof { 
	width: 30px; 
	height: 30px; 
}
.logo p{
	color: white;
}
.cyg{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
	text-align: center;
	gap: 30px;
}
.cyg img{
	width: 150px;
	height: 150px;
}
.cyg h2{
	color: white;
}
.portada{
	width:50px;
	height:50px;
}
.taula{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 30px;

}
.taula tr:nth-child(odd) {
	background-color: #444444;
    color: white;
}
.taula tr:nth-child(even) {
	background-color: #AAAAAA;
	color: #333333;

}
.taula td {
    padding: 10px;
    vertical-align: middle;
}

.taulaText{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
}
.iconos img { width: 20px; 
	height: 20px; 
	margin-left: 10px; 
	cursor: pointer; 
}
.infoc {
    display: flex;
    align-items: center;
    gap: 15px;
}
.taulaText {
    text-align: center; 
    display: flex;
    flex-direction: column;
}
.iconos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
p, h4 { margin: 0; 
}
.playlist{
	width:25px;
	height:20px;
}
.corazon{
	width:20px;
	height:20px;
}
.agregar{
	width:25px;
	height:20px;
}
.pers{
	color: white;
}
.buscar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.buscar1 {
	border: 1px solid #999;
	padding: 10px;
	width: 50%;
	color: #ccc;
}
.buscar1 p {
	margin: 0;
	color: white;
}

.buscar2{
	display: flex;
	align-items: center;
	gap:15px;
	color: white;
	font-weight: bold;
}
.buscar2 p{
	color: white;
}

.buscar button{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid white;
	background-color: transparent;
	cursor: pointer;
}

<<<<<<< HEAD

@media (max-width: 768px){
	.main{
		padding: 10px;
	}
	.artista {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.artistadesc{
		width: 100%;
	}

	.taulatd{
		padding: 5px 2px;
	}
	.portada{
		width: 40px;
		height: 40px;
	}
	.iconos img{
		width: 18px;
		height: 18px;
		margin-left: 5px;
	}
	.cyg{
		justify-content: center;
		gap: 15px;
	}
	

	.buscar1{
		width: 100%;
	}
	.buscar2{
		width: 100%; 
		justify-content:space-between;
	}
	.grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
        justify-items: center;
    }
    .grid-3 img{
    	width: 100%;
    	max-width: 100px;
    	height: auto;
    	aspect-ratio: 1/1;
    }

}
=======
@media(max-width: 768px) {
	.buscar{
		flex-direction: column;
		gap: 15px;
		align-items: stretch;
	}

	.buscar1{
		width: 100%;
		box-sizing: border-box;
	}
	.buscar2{
		justify-content: space-between;
		width: 100%;
	}
	.cyg{
		flex-direction: column;
		align-items: center;
	}
	.cyg > div {
		margin-bottom: 30px;
	}
	


}
>>>>>>> 7cab742ef688d183bd6646773b81e8d6c1d07fc1
