body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color:#333 ;
}
h1{
	color:red;
}
p{
	color:red;
}
.lateral{
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 100vh;
	background-color: #111;
	padding-top: 20px;
	color: white;
	display: flex;
	flex-direction: column;
}
.lateral img {
	display:block;
	padding: 10px 15px;
	color: f1f1f1;
	width: 25px;
	height: 25px;

}
.lateral img:hover {
	background-color: #333;
}
.main{
	margin-left: 50px;
	padding: 20px;
	background-color: #333;
}

.perfil{
	margin-top: auto;
	margin-bottom: 20px;

}
.artista{
	padding: 30px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap :15px;
}
.artista h1{
	color: #FF3131;

}
.artistaimg{
	width: 120px;
	height: 120px;
}
.artistadesc p{
	color: gray;

}
.artistadesc div{
	border: solid gray;
	border-width: 2px;
	border-radius: 10px;
	gap: 10px;
	width:800px ;

	
}
.artistaN{

}
.desc{
	height: 100px;
}
.artistadesc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.logof{
	width: 30px;
	height: 30px;
}
.logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding-top: 0px;
}
.logo p{
	color: white;
}
.cyg{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	text-align: center;
	gap: 30px;
}
.cyg img{
	width: 150px;
	height: 150px;
}
.cyg h2{
	color: white;
}
.portada{
	width:50px;
	height:50px;
}
.taula{
	width: 100%;

}
.taula tr:nth-child(odd) {
	background-color: #444444;
    color: white;
}
.taula tr:nth-child(evenly) {
	background-color: #AAAAAA;
	color: #333333;

}
.taula td {
    padding: 10px;
    vertical-align: middle;
    border: none;
}

.taulaText{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
}
.iconos img { width: 20px; 
	height: 20px; 
	margin-left: 10px; 
	cursor: pointer; 
}
.infoc {
    display: flex;
    align-items: center;
    gap: 15px;
}
.taulaText {
    text-align: center; 
    display: flex;
    flex-direction: column;
}
.iconos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
p, h4 { margin: 0; 
}
.playlist{
	width:25px;
	height:20px;
}
.corazon{
	width:20px;
	height:20px;
}
.agregar{
	width:25px;
	height:20px;
}
.pers{
	color: white;
}
.buscar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}
.buscar1 {
	border: 1px solid #999;
	padding: 10px;
	width: 50%;
	color: #ccc;
}
.buscar1 p {
	margin: 0;
	color: white;
}

.buscar2{
	display: flex;
	align-items: center;
	gap:15px;
	color: white;
	font-weight: bold;
}
.buscar2 p{
	color: white;
}

.buscar button{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid white;
	background-color: transparent;
	cursor: pointer;
}

